*{
    margin: 0;
    padding:0;
}
/*body styling*/
body{
    background-color:#E0F2F1;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
#logo{
    font-size: 32px;
}
/*navigation styling*/
#navbar{
    background-color:teal;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}
#navbar a{
    color:black;
    margin-right:45px;
}
#navbar a:hover{
    color:white;
}
/*button styling*/
button{
    color:black;
    padding: 10px;;
    border: none;
    background-color:rgb(0, 195, 255) ;
    border-radius:3px;
    font-size: medium;
    
}
button:hover{
    color: white;
    cursor: pointer;
}
/*main page styling*/
#main-page{
    width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 100px;
}
#main-page .column1{
    width: 50%;
    line-height: 40px;
}
#main-page img{
    width: 100%;
    height: auto;
    margin: auto;
}
/*experience*/
#Experiences{
    width: 70vw;
    margin: auto;
    padding: 20px;
    line-height: 40px;
}
/*skills*/
#skills {
    width: 70vw;
    margin: auto;
    padding: 20px;
    line-height: 40px;
}
/*passion*/
#passion {
    width: 70vw;
    margin: auto;
    padding: 20px;
    line-height: 40px;
}
/*collaboration*/
#collaborate{
    width: 70vw;
    margin: auto;
    padding: 20px;
    line-height: 40px;
}

/*footer styling*/
footer{
    background-color: teal;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
footer .row1{
    text-align: center;
    margin-bottom: 40px;
    line-height:35px
}
footer .row2{
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
}
footer a{
    margin-top: 20px;
    margin-left: 10px;
}